@model IEnumerable<BTLASPMONGO.Models.DataModels.News>
@foreach (var item in Model)
{
    <div class="flex-wr-sb-s p-t-40 p-b-15 how-bor2">
        <a href="blog-detail-02.html" class="size-w-8 wrap-pic-w hov1 trans-03 w-full-sr575 m-b-25">
            <img src="/@item.picture" alt="IMG">
        </a>

        <div class="size-w-9 w-full-sr575 m-b-25">
            <h5>
                <a href="blog-detail-02.html" class="f1-l-1 cl2 hov-cl10 trans-03 respon2" style="font-size:18px; font-weight:900;">
                    @item.news_title
                </a>
            </h5>

            <div class="cl8 p-b-10">
                <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
                    by John Alvarado
                </a>

                <span class="f1-s-3 m-rl-3">
                    -
                </span>

                <span class="f1-s-3">
                    Feb 18
                </span>
            </div>

            <p class="f1-s-1 cl6 p-b-24">
                Duis eu felis id tortor congue consequat. Sed vitae vestibulum enim, et pharetra magna
            </p>
        </div>
    </div>
}